.intro-text-about {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
}
.intro-text-about h1{
  font-size: 60px;
  text-transform: capitalize;
  background: linear-gradient(90deg, #7418ff, #0098af 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 4px 86px #0098af;
}
.intro-text-about p{
  width: 70%;
  margin: auto;
  font-size: 18px;
}